#herosection {

    display: flex;
    max-width: 93.75%;
    width: 100%;
    margin: 0 3.1%;
    margin-top: 200px;

}
.rightsidesection-herocategorize li.active {
    border-bottom: 2px solid rgb(51, 50, 50);
    
}
#categoryList{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}
#rightside-description-hero {
    margin: 0;
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
font-size: clamp(12px, 2vw, 18px);
    font-family: "Geist";
    margin-top: 10px;


}

.leftsidesection-hero {
    width: 100%;
    max-width: 60.91%;
    padding: 0 40px 2.2%;
    display: flex;
    gap: 12px;

    /* Hide scrollbar */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    height: 1053px;
    overflow-y: scroll;
    /* IE/Edge */
}

.rightsidesection-herocategorize {
    display: flex;
    gap: 6.7%;
    width: 100%;
    margin-top: 100px;
    


}

.rightsidesection-herocategorize li {
    font-family: "Belleza";
    font-weight: 400;
    font-size: 12px;
    list-style: none;
    color: rgba(33, 62, 77, 1);
    cursor:pointer;

}

.rightsidesection-searchbar {
    height: 60px;
    width: 90%;
    position: relative;
    margin: 10px 0;

}
#propertiesFoundHeading {
        font-size: clamp(1.2rem, 2vw, 2.2rem);
}

.rightsidesection-searchbar button {
    background-color: rgba(205, 96, 36, 1);
    position: absolute;
    top: 0;
    right: -10%;
    height: 100%;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor:pointer;

}

.rightsidesection-searchbar input {
    height: 48%;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: rgba(248, 248, 248, 1);
        padding: 16px 20px;
        font-family: "Geist";
        color:rgb(71, 70, 70);
        font-size: 1rem;
        position:relative;

}


.rightsidesection-searchbar input::placeholder {
    color: rgba(0, 0, 0, 1);
    font-family: "Geist";
}



.leftsidesection-hero::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.firstvertical-group {
    display: flex;
    flex-direction: column;
    max-width: 23.83%;
    width: 100%;
    gap: 14px;
}

.leftsidesection-hero img:first-child {
    height: 179px;
    object-fit: cover;
    border-radius: 10px;
}

.leftsidesection-hero img:nth-child(2),
.leftsidesection-hero img:nth-child(3) {
    height: 478px;
}

/* Specific group image heights */
#firstvertical img:first-child,
#thirdvertical img:nth-child(2) {
    height: 179px;
}

#firstvertical img:nth-child(2),
#firstvertical img:nth-child(3),
#fourthvertical img:first-child {
    height: 478px;
    width: 100%;
}

#secondvertical img:first-child,
#secondvertical img:nth-child(2),
#thirdvertical img:nth-child(3),
#thirdvertical img:first-child {
    height: 336px;
}

#thirdvertical img:nth-child(2) {
    border-radius: 10px;
}

#secondvertical img:nth-child(3) {
    height: 179px;
}

#fourthvertical img {
    width: 100%;
}

.rightsidesection-hero {

    max-width: 31.45%;
    width: 100%;
}

#rightside-header {
    margin: 0;
    color: rgba(33, 62, 77, 1);
    font-weight: 400;
    font-family: "Bellaza";
    /* font-size: 64px; */
    width: 100%;
font-size: clamp(24px, 5vw, 64px);

}

@keyframes scrollUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-30%);
    }
}


@media (max-width: 1200px) {
    .leftsidesection-hero {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    #herosection {
        flex-direction: column;
        gap: 2rem;
    }

    .rightsidesection-hero {
        max-width: 100%;
    }
}