#properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;


}

.parent-properties {
    display: flex;
    max-width: 86.58%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
#properties-header {
    color: rgba(33, 62, 77, 1);
    font-family: "Belleza";
    font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    margin-bottom: 2rem;
}

.property-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    max-width: 90.56%;
    overflow: hidden;
    /* clip the sliding children */
    position: relative;
    display: flex;
    align-items: center;


}

.properties-groups {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 100%;
    width: 100%;
    margin: 0 1rem;
    /* overflow: hidden; */
    transition: transform 0.3s ease-in-out;
    will-change: transform;
     scroll-behavior: smooth;

}   

.individual-property {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 31.45%;
    width: 100%;

    /* background: red; */
    flex-shrink: 0;
    position: relative
}

.location-property {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-family: "Geist";

}

.location-property p {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(44, 44, 44, 1);
}

.individual-property h3 {
    font-weight: 600;
    font-size: 26px;
    color: rgba(44, 44, 44, 1);
    margin: 0;
    font-family: "Geist"
}

.individual-property img {
    border-radius: 2rem;
}
#individualproperty-uniqueimg{
    height: 251px;
    object-fit: cover;
}
.individual-property .img-info {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2rem;
    width: fit-content;
    /* height: 10%; */
    margin: 20px;
    z-index: 3;
    font-family: "Geist";
    font-weight: 400;

    font-size: 1rem;
    padding: 0.5rem 1rem;

}

.navigator {
    background-color: rgba(212, 212, 212, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    padding: 0.8rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.navigator:hover {
    transform: scale(1.1);
}
/* #properties-section-unique{
    margin: 0;
} */
#dollor {
    color: rgba(44, 44, 44, 1);
    font-family: "Geist";
    font-weight: 600;
    font-size: 18px;

}
#dollor-unique {
    color: rgba(44, 44, 44, 1);
    font-family: "Geist";
    font-weight: 600;
    font-size: 18px;
    margin: 0.3rem 0;

}







@media(max-width:1200px) {
    .parent-properties {
        max-width: 100%;
        gap: 1rem;
    }

    .individual-property {
        max-width: 30%;
    }
}

@media(max-width:920px) {
    .parent-properties {
        max-width: 100%;
    }

    .individual-property {
        max-width: 40%;
    }
}

@media(max-width:720px) {


    .individual-property {
        max-width: 45%;
    }
}
@media(max-width:650px) {

.parent-properties {
        max-width: 100%;
    }
    .individual-property {
        max-width: 100%;
    }
}